<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Jquery -->
    <script src="..//..//js/jquery.min.js"></script>
    <title>Shoppe Statistical</title>


    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->

</head>

<body id="page-top" style="min-width: 550px;">
    <!-- Form required login-->

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="require-login" class=" p-2"
                style="display: none; margin-top: 100px; flex-direction: column; align-items: center;">
                <h3 class='text-danger'> Xin chào ! </h3>
                <h3 class='text-danger ' style="text-align: center">Bạn cần truy cập và đăng nhập vào shopee</h3>
                <p class=" p-2" style="text-align: center">Sau khi đăng nhập vui lòng đợi 10 giây để chúng tôi chuẩn bị
                    dữ liệu</p>
            </div>
            <!-- Main Content -->
            <div id="content" style="display: block">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar)
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button> -->

                    <h3 style="color: #FF6347; margin-left: 20px; ">Thống kê Shopee</h3>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Alerts -->

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle" id='avatar' src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <!-- <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div> -->
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 w-100">
                        <div class="card shadow mb-4 " style="background-color: #f36100d3; width: 100%;">
                            <div
                                class="pl-3 pr-3 py-3 d-flex flex-row align-items-center justify-content-between gap-2">

                                <label for="year" class=" font-weight-bold  " style="color: #fff; width: 20%;    text-align: left;">Chọn năm thống
                                    kê</label>

                                <div style="width: 40%;">
                                    <select class="form-control" name="" id="statistical-with-year">
                                        <option value="">Tất cả</option>
                                    </select>
                                </div>

                                <div style="width: 40%;     text-align: right;">
                                    <button type="button" class="btn btn-info " id="btn-sync">
                                        <div class=" d-flex align-items-center">
                                            <i class="fas fa-sync mr-2"></i>
                                            <span>Đồng bộ dữ liệu</span>
                                        </div>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Tổng tiền trả
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id='pay-total'> 0 VND</div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Tổng số đơn đã hoặc đang giao</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id="quantity-order-success">0</div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-receipt fa-2x text-gray-300"></i>
                                            <!-- <i class=""></i> -->
                                            <!-- <i class="fas fa-dollar-sign "></i> -->
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Tổng số sản phẩm đã hoặc đang mua</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id="quantity-purchase-product">0</div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-volleyball-ball  fa-2x text-gray-300"></i>
                                            <!-- <i class=""></i> -->
                                            <!-- <i class="fas fa-dollar-sign "></i> -->
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Tổng phí vận chuyển phải trả </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id="shipping-fee-total">0</div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-shipping-fast fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Tổng tiền tiết kiệm (Vourcher)</div>
                                            <!-- <i class=""></i> -->
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id="save-total">0 VND</div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fab fa-cc-discover fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Tổng số đơn đã hủy / Giao Không thành công</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id="quantity-order-cancel">0</div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-window-close fa-2x text-gray-300"></i>
                                            <!-- <i class=""></i> -->
                                            <!-- <i class="fas fa-dollar-sign "></i> -->
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary "
                                        id="label-statistical-pay-earch-month-by-year">Tiền tiêu mỗi tháng trong năm
                                    </h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" id="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pie Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <span class="font-weight-bold text-dark text-center mt-2">
                                    Sản phẩm đã mua <small> <br> (Chưa tính phí vận chuyển và mã giảm giá)</small>
                                </span>
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header  py-2 d-flex flex-row align-items-center justify-content-between pt-0 ">

                                    <label class="font-weight-bold text-secondary m-0"
                                        for="statistical-with-month-product">
                                        Tháng
                                    </label>
                                    <select class='btn border border-secondary '
                                        style='width:65px; font-size:13px; color:rgba(0, 0, 0, 0.774);  padding: 0;'
                                        id="statistical-with-month-product">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <label class="font-weight-bold text-secondary m-0"
                                        for="statistical-with-year-product">
                                        Năm
                                    </label>
                                    <select class='btn border border-secondary '
                                        style='width:65px; font-size:13px; color:rgba(0, 0, 0, 0.774);  padding: 0;'
                                        id="statistical-with-year-product">
                                    </select>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body " id='items'>
                                    <!-- <div class="row item ">
                                        <div class="col-2  bg-gradient-light"
                                            style=" width: 100px; height: 50px; padding: 0; display: flex;">
                                            <img src="/logo/backround_1400_560FInal.png" class="card-img" alt="...">
                                        </div>
                                        <div class="col-8  d-flex lign-items-start flex-column justify-content-center ">
                                            <span class="card-title text-dark " style="font-size:12px">Kính Cường
                                                lực
                                                chống nhìn trộm
                                            </span>
                                            <span class="card-text text-danger" style="font-size:15px"> 500.000
                                                VND</span>
                                        </div>
                                        <div
                                            class="col-2 d-flex lign-items-start flex-column justify-content-center pl-0 pr-0">
                                            <p class="text-center " style="font-size:12px">X 10</p>
                                            <a class="text-center" style="font-size:12px" href="./"><small>Đơn hàng
                                                </small></a>
                                        </div>
                                    </div> -->


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->


    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Contact with email: nguyenthanhson162001@gmail.com</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        .item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.133);
            padding-bottom: 5px;
            padding-top: 5px;
        }

        .item:hover {
            background-color: rgba(128, 128, 128, 0.1);
        }

        #items {
            overflow: scroll;
            height: 240px;
        }
    </style>


    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>


    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <!-- Custom js -->
    <script src="main.view.js"></script>

</body>

</html>